body {
  font-size: 14px;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  background: #f1f1f1;
  line-height: 1.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body.offset {
  margin-left: -240px;
  margin-right: 240px;
}
nav {
  position: fixed;
  top: 0;
  right: -240px;
  bottom: 0;
  width: 240px;
  background: #222;
  color: #fff;
  z-index: 1000;
  height: 100%;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav .menu-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}
nav .menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav .menu-container ul li a {
  padding: 0.4em 1em;
  display: block;
  color: #fff;
  font-size: 1em;
}
nav .menu-container ul li a:hover,
nav .menu-container ul li a:focus {
  text-decoration: none;
  color: #999;
}
nav .menu-container ul li a::before,
nav .menu-container ul li a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform .3s,opacity .2s;
  line-height: 1.6em;
}
nav .menu-container ul li a::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  color: #fff;
}
nav .menu-container ul li a::after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
  color: #fff;
}
nav .menu-container ul li a:hover::before,
nav .menu-container ul li a:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
nav.open {
  right: 0;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
}
header h3 {
  float: left;
  margin: 20px;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
header .bar {
  float: right;
  margin: 20px;
  border: 3px #000 solid;
  padding: 3px 9px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
}
header .bar:hover,
header .bar:focus {
  color: #fff;
  background: #000;
}
.home-work {
  padding: 120px 0;
  background-image: url('../images/bg.jpg');
  background-position: top center;
  background-size: cover;
  text-align: center;
}
.home-work .work-title h1 {
  margin: 30px 0;
  font-weight: bold;
  font-size: 40px;
}
.home-work .work-title p {
  margin: 20px 0;
}
.home-work .work-title a {
  padding: 10px 20px;
  border: 2px #000 solid;
  color: #000;
  margin: 20px 0 0 0;
}
.home-work .work-title a:hover,
.home-work .work-title a:focus {
  background: #000;
  color: #fff;
}
.content {
  padding: 20px 0;
}
.content .content-item {
  margin: 10px;
  background: #fff;
}
.content .content-item .item-text {
  padding: 5px;
}
.single {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
}
.single .single-img {
  background-position: top center;
  background-size: cover;
  height: 300px;
}
footer .contact {
  text-align: center;
  height: 60px;
}
footer .copyright {
  height: 30px;
  background: #fff;
}
