@import "var";
@background: #f1f1f1;

@nav-background: #222;
@nav-hover-color: #999;
@nav-font-size: 16px;
@nav-width: 240px;

body{
  font-size: 14px;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  background: @background;
  line-height: 1.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &.offset{
    margin-left: -@nav-width;
    margin-right: @nav-width;
  }
}


nav{
  position: fixed;
  top:0;
  right:-@nav-width;
  bottom: 0;
  width: @nav-width;
  background: @nav-background;
  color: @color-white;
  z-index: 1000;
  height: 100%;
  font-size: @nav-font-size;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  .menu-container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        a{
          padding: 0.4em 1em;
          display: block;
          color: #fff;
          font-size: 1em;
          &:hover, &:focus{
            text-decoration: none;
            color:@nav-hover-color;
          }
          &::before, &::after{
            display:inline-block;
            opacity:0;
            -webkit-transition:-webkit-transform .3s,opacity .2s;
            -moz-transition:-moz-transform .3s,opacity .2s;
            transition:transform .3s,opacity .2s;
            line-height: 1.6em;
          }
          &::before{
            margin-right:5px;
            content:'[';
            -webkit-transform:translateX(20px);
            -moz-transform:translateX(20px);
            transform:translateX(20px);
            color:@color-white;
          }
          &::after{
            margin-left:5px;content:']';
            -webkit-transform:translateX(-20px);
            -moz-transform:translateX(-20px);
            transform:translateX(-20px);
            color:@color-white;
          }
          &:hover::before, &:hover:after{
            opacity:1;
            -webkit-transform:translateX(0px);
            -moz-transform:translateX(0px);
            transform:translateX(0px);
          }
        }
      }
    }
  }

  &.open{
    right:0;
  }
}

header{
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
  transition: background .3s ease-in-out,padding .3s ease-in-out;
  z-index: 999;
  padding: 20px;
  h3{
    float: left;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    margin: 5px;
    line-height: 38px;
  }
  .bar{
    margin: 5px;
    float: right;
    border: 3px @color-black solid;
    padding: 3px 9px;
    font-size: 18px;
    color: @color-black;
    cursor: pointer;
    &:hover, &:focus{
      color: @color-white;
      background: @color-black;
    }
  }
  &.show{
    background: @color-lightGray;
    position: fixed;
    -webkit-box-shadow: 0 2px 4px @color-shadow;
    -moz-box-shadow: 0 2px 4px @color-shadow;
    box-shadow: 0 2px 4px @color-shadow;
    padding: 10px;
  }
}



footer{
  .contact {
    text-align: center;
    height: 60px;
  }
  .copyright{
    height: 30px;
    background: @color-white;
  }
}