@import "var";

@background-image: url('../images/bg.jpg');

.home-work{
  .work(@background-image);
  padding: 200px 0;
  .work-title{
    a{
      padding: 10px 20px;
      border: 2px @color-black solid;
      color: @color-black;
      margin: 20px 0 0 0;
      &:hover{
        background: @color-black;
        color:@color-white;
      }
    }
  }
}

.content{
  .content();
  overflow: hidden;
  height: 0;
}

.single{
  background: @color-white;
  padding: 20px 0;
  .single-img{
    background-position: top center;
    background-size: cover;
    height: 300px;
  }
}